<div class="dashboard-nav">
    <div class="dashboard-nav-left">
        <span class="dashboard-nav-collapse"><i class="bi bi-list"></i></span>
        <span routerLink="/" style="cursor: pointer;"><img src="../../assets/images/vehica-logo-white-retina-admin.png" alt="vehica logo"></span>
    </div>
    <div class="dashboard-nav-right">
        <span><i class="bi bi-grid-3x3-gap"></i></span>
        <span><i class="bi bi-bell"></i></span>
        <span><img style="width: 40px; height: 40px; border-radius: 50%;" src="../../assets/images/emily-ree.jpg"
                alt="avatar"><span>username@account.com</span></span>
    </div>
</div>