    <div class="car-list">
        <div class="header-title">
            <h1>Car Listing</h1><button (click)="navigateToDetail()" class="btn btn-outline-danger"><i class="bi bi-plus-lg"></i> Add New
                Car</button>
        </div>

        <div class="car-list">
            <div class="car-item" style="cursor: pointer">
                <div class="car-image">
                    <img src="assets/images/audi-8.jpg" alt="img car">
                </div>
                <div class="car-detail">
                    <div class="car-header">
                        <h1>Header</h1><span><i class="bi bi-pencil-square edit-button"></i><i
                                class="bi bi-trash3 remove-button"></i></span>
                    </div>
                    <p>Description</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusamus officia natus
                        explicabo
                        corporis
                        ipsum debitis aliquid iusto optio dolor.</p>
                    <div class="car-tag">
                        <span>Tag: </span><span>#SUV</span><span>#Porsche</span><span>#isUsed</span>
                    </div>
                </div>
            </div>
            <div class="car-item">
                <div class="car-image">
                    <img src="assets/images/audi-8.jpg" alt="img car">
                </div>
                <div class="car-detail">
                    <div class="car-header">
                        <h1>Header</h1><span><i class="bi bi-pencil-square edit-button"></i><i
                                class="bi bi-trash3 remove-button"></i></span>
                    </div>
                    <p>Description</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusamus officia natus
                        explicabo
                        corporis
                        ipsum debitis aliquid iusto optio dolor.</p>
                    <div class="car-tag">
                        <span>Tag: </span><span>#SUV</span><span>#Porsche</span><span>#isUsed</span>
                    </div>
                </div>
            </div>
        </div>
    </div>