<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<body>
  <app-navbar></app-navbar>
  <div class="dashboard-main">
    <div class="col-2">
      <app-mainmenu></app-mainmenu>
    </div>
    <div class="col">
      <div class="dashboard-container">
        <router-outlet></router-outlet>
        <!-- <app-messages></app-messages> -->
      </div>
    </div>
  </div>

</body>

</html>