<div class="dashboard-menu-left">
    <b>Analytics</b>
    <div routerLink="/"><span><i class="bi bi-speedometer"></i></span>Dashboard</div>
    <div routerLink="/analytics"><span><i class="bi bi-bar-chart"></i></span>Analytics</div>
    <div routerLink="/email"><span><i class="bi bi-envelope"></i></span>Email</div>
    <b>All Item List</b>
    <div routerLink="/cars"><span><i class="bi bi-car-front"></i></span>Car List</div>
    <div><span><i class="bi bi-bookmarks"></i></span>Category List</div>
    <div routerLink="/car-brand-detail"><span><i class="bi bi-person"></i></span>Customer List</div>
    <div routerLink="/employees"><span><i class="bi bi-people"></i></span>Employee List</div>
    <div><span><i class="bi bi-images"></i></span>Image List</div>
    <div routerLink="/car-brands"><span><i class="bi bi-stack-overflow"></i></span>Car Brands List</div>
    <b>User Mangement</b>
    <div><span><i class="bi bi-cpu"></i></span>Change Password</div>
    <div><span><i class="bi bi-cpu"></i></span>Edit Profile</div>
    <div><span><i class="bi bi-cpu"></i></span>Export To CSV</div>
    <button class="orange-color-border">Logout</button>
</div>